<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homeworkcollect.dao.ReportMapper">

    <resultMap id="reportResultMap" type="com.homeworkcollect.entity.Report">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="reportName" column="report_name" />
        <result property="reportContext" column="report_context" />
        <result property="deadlineTime" column="deadline_time" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="deleted" column="deleted" />
    </resultMap>

    <insert id="insertReport" keyProperty="id" useGeneratedKeys="true" parameterType="com.homeworkcollect.entity.Report">
        insert into report (user_id, report_code, report_name, report_context, deadline_time, create_time, update_time)
        values (
                #{userId, jdbcType=INTEGER},
                #{reportCode, jdbcType=VARCHAR},
                #{reportName, jdbcType=VARCHAR},
                #{reportContext, jdbcType=VARCHAR},
                #{deadlineTime, jdbcType=TIMESTAMP},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime, jdbcType=TIMESTAMP}
               )

    </insert>

    <update id="updateReport" parameterType="com.homeworkcollect.entity.Report">
        update report
        <set>
            <if test="reportName != null and reportName != ''">report_name = #{reportName},</if>
            <if test="reportContext != null and reportContext != ''">report_context = #{reportContext},</if>
            <if test="deadlineTime != null">deadline_time = #{deadlineTime},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <update id="deleteReportById" parameterType="integer">
        update report set deleted = 1 where id = #{id}
    </update>

    <select id="selectReportById" resultMap="reportResultMap">
        select * from report where id = #{reportId} and deleted = 0
    </select>

    <select id="selectReportListByUserId" resultType="com.homeworkcollect.entity.Report">
        select * from report where user_id = #{userId} and deleted = 0 order by create_time desc
    </select>
</mapper>